<html>
    <head>
      <div class="center title"><h1>Create your profile</h1></div>
    </head>   
        <body>
         <form class="form-horizontal">
            <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="textinput">Vorname</label>  
                <div class="col-sm-2">
                  <input id="textinput" name="textinput" placeholder="z.B.: Max" class="form-control input-sm" type="text">
                </div>
              </div>
               <div class="form-group">
                <label class="col-sm-2 control-label" for="textinput">Nachname</label>
                  <div class="col-sm-2">
                    <input id="textinput" name="textinput" placeholder="z.B.: Mustermann" class="form-control input-sm" type="text">
                  </div>
               </div>
            </div>
          </form>
        </body>
</html>