<div class="container">
    <footer class='footer'>
        <small>
            Copyright &copy; <a href= "http://www.udemy.com" >The complet Ruby on Rails coruse</a> by <a href= '#'>Kevin Pahlke</a>
        </small>
        <nav>
            <ul>
                <li><%= link_to 'Kontakt', contact_path %> </li>
                <li><%= link_to 'About', about_path %> </li>
                <li><%= link_to 'Impressum', impressum_path %> </li>
                <li><%= link_to 'AGB', agb_path %> </li>
            </ul>
        </nav>
    </footer>
</div>